<nav class="navbar navbar-expand-lg navbar-dark bg-white-custom fixed-top">
    <div class="container">
        <a class="navbar-brand mx-2" href="@Url.Action("Index", "Home")">
            <!-- Logo a la izquierda -->
            <img src="@Url.Content("~/Images/Logo2.png")" alt="Logo SeaAngel" class="logo-img d-none d-lg-inline-block">
            <!-- Texto más grande para SeaAngel -->
            <span class="text-navy display-3">SeaAngel</span>
            <!-- Texto dorado oscuro para Company Cruises -->
            <span class="text-dark-gold small">Cruise</span>
            <span class="text-dark-gold small">Company</span>
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarS"
        aria-controls="navbarS" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarS">
            <ul class="navbar-nav mx-2 mb-2 mb-lg-0">
                <li class="nav-item">
                    <a href="@Url.Action("Index", "Home")" class="nav-link itemPag">Inicio</a>
                </li>
                <li class="nav-item">
                    <a href="@Url.Action("Index", "Crucero")" class="nav-link itemPag">Cruceros</a>
                </li>
                <li class="nav-item">
                    <a href="@Url.Action("Index", "Barco")" class="nav-link itemPag">Barcos</a>
                </li>
                <li class="nav-item">
                    <a href="@Url.Action("Index", "Habitacion")" class="nav-link itemPag">Habitaciones</a>
                </li>
                <li class="nav-item">
                    <a href="@Url.Action("Index", "EncReserva")" class="nav-link itemPag">Reservas</a>
                </li>
            </ul>

            <!-- Opciones de usuario y configuración -->
            <ul class="navbar-nav mx-2">
                <li class="nav-item">
                    <a href="@Url.Action("Perfil", "Usuario")" class="nav-link">
                        <i class="bi bi-person-circle fs-4"></i> <!-- Ícono de usuario -->
                    </a>
                </li>
                @if (User.IsInRole("Administrador") == true)
                {
                    <!-- Menú desplegable de configuración -->
                    <li class="nav-item dropdown mx-2">
                        <a href="#" class="nav-link dropdown-toggle" id="configDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi bi-gear-fill fs-4 text-dark-blue"></i> <!-- Ícono de configuración -->
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="configDropdown">
                            <li>
                                <a class="dropdown-item" href="@Url.Action("Mantenimiento", "Barco")">
                                    Mantenimiento Barco
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="@Url.Action("Mantenimiento", "Habitacion")">
                                    Mantenimiento Habitación
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="@Url.Action("Mantenimiento", "Crucero")">
                                    Mantenimiento Crucero
                                </a>
                            </li>
                        </ul>
                    </li>
                }

            </ul>

        </div>
    </div>
</nav>
