<nav class="navbar navbar-expand-lg navbar-dark bg-white-custom fixed-top">
    <div class="container">
        <a class="navbar-brand" href="@Url.Action("Index", "Home")">
            <!-- Logo a la izquierda -->
            <img src="@Url.Content("~/Images/Logo2.png")" alt="Logo SeaAngel" class="logo-img d-none d-lg-inline-block">
            <!-- Texto más grande para SeaAngel -->
            <span class="text-navy display-3">SeaAngel</span>
            <!-- Texto dorado oscuro para Company Cruises -->
            <span class="text-dark-gold small">Cruise</span>
            <span class="text-dark-gold small">Company</span>
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarS"
                aria-controls="navbarS" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarS">
            <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a href="@Url.Action("Index", "Home")" class="nav-link itemPag">Inicio</a>
                </li>
                <li class="nav-item">
                    <a href="@Url.Action("Index", "Crucero")" class="nav-link itemPag">Cruceros</a>
                </li>
                <li class="nav-item">
                    <a href="@Url.Action("Index", "Barco")" class="nav-link itemPag">Barcos</a>
                </li>
                <li class="nav-item">
                    <a href="@Url.Action("Index", "Home")" class="nav-link itemPag">Puertos</a>
                </li>
                <li class="nav-item">
                    <a href="@Url.Action("Index", "Habitacion")" class="nav-link itemPag">Habitaciones</a>
                </li>
                <li class="nav-item">
                    <a href="@Url.Action("Index", "EncReserva")" class="nav-link itemPag">Reservas</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
